{{ if .Site.DisqusShortname }}
	<!-- div id="disqus_thread"></div>
	<script type="text/javascript">
	    var disqus_shortname = '{{ .Site.DisqusShortname }}';
	    var disqus_config = function () {
	       this.page.identifier = '{{with .GetParam "disqus_identifier" }}{{ . }}{{ else }}{{ .Permalink }}{{end}}';
	       this.page.title = '{{with .GetParam "disqus_title" }}{{ . }}{{ else }}{{ .Title }}{{end}}';
	       this.page.url = '{{with .GetParam "disqus_url" }}{{ . | html  }}{{ else }}{{ .Permalink }}{{end}}';
	    };

	    (function() {
		    if (window.location.hostname == "localhost")
		        return;
	        var d = document, s = d.createElement('script');
	        s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
	    })();

	</script -->

	<div id="disqus_thread"></div>
	<script>    
	    var disqus_config = function () {
	        this.page.url = 'a unique URL for each page where Disqus is present';
	        this.page.identifier = 'a unique identifier for each page where Disqus is present';
	        this.page.title = 'a unique title for each page where Disqus is present';
	    };
	    
	    (function() {
	        var d = document, s = d.createElement('script');
	        s.src = '//anaderi.disqus.com/embed.js'; // IMPORTANT: Replace EXAMPLE
	        s.setAttribute('data-timestamp', +new Date());
	        (d.head || d.body).appendChild(s);
	    })();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com/" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
{{ end }}